<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Host</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>Game Code: <span id="game-code"></span></h1>
        <hr>
        <ul id='messages'>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
      function newMsg(msgContent) {
          const messages = document.getElementById('messages');
          const message = document.createElement('li');
          const content = document.createTextNode(msgContent);
          message.appendChild(content)
          messages.appendChild(message)
      }
      function jump(playerNum) {
          console.log(`${playerNum} - Jump`)
      }
      function slide(playerNum) {
          console.log(`${playerNum} - Slide`)
      }
      function shake(playerNum) {
          console.log(`${playerNum} - Shake`)
      }

      window.onload = () => {
          var req = new XMLHttpRequest();
          req.open("GET", "/game/new", true);
          req.send();
          req.onreadystatechange = function() {
              if (req.readyState == 4 && req.status == 200) {
                  var game = JSON.parse(req.responseText);
                  localStorage.setItem("game_code", game["game_id"]);
                  document.getElementById("game-code").innerHTML = game["game_id"]
                  var game_code = localStorage.getItem("game_code");
                  console.log(game_code)
                  var ws = new WebSocket(`wss://${window.location.hostname}/ws/${game_code}/host`);
                  ws.onmessage = (e) => {
                      const event = JSON.parse(e.data);
                      // status code change
                      switch (event["code"]) {
                        case 201: // Game Start
                            document.getElementById('player-number').innerText = msg["playerNum"]
                            break;
                        case 202: // Remote Event
                            switch (event.action.toLowerCase()) {
                                  case "jump":
                                      jump(event["playerNum"])
                                      break;
                                  case "slide":
                                      slide(event["playerNum"])
                                      break;
                                  case "shake":
                                      shake(event["playerNum"])
                                      break;
                              }
                              break;
                        default:
                            newMsg(event["content"])
                        }
                  }
              }
          }

      }
  </script>
  </body>
</html>